h1 {
    color: red;
    padding: 0;
    margin: 0;
}

.header{
    height: 125px;
    background-color: blueviolet;
}

.calculator_container{
    /* basic style */
    background-color: bisque;
    flex-grow: 1;

    /*Flexbox styling*/

    


}

.footer{
    height: 100px;
    background-color:cadetblue;
}



/*
    Starter CSS below
*/



body{
    height: inherit;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}
