h1 {
  color: red;
  padding: 0;
  margin: 0;
}

.header {
  height: 125px;
  background-color: #222222;
}

.calculator_container {
  /* basic style */
  background-color: #1DCD9F;
  flex-grow: 1;

  /*Flexbox styling*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator{
    height: 500px;
    width: 504px;
    border: 2px solid black;

    /*Calculator flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calculator .display{
    flex: auto;
    width: 100%;
    border-bottom: 2px solid black;

    /*Display flex*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator .buttons{
    display: flex;
    flex-direction: row;
}

.calculator .buttons .nums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.calculator .buttons .operators{
    display: flex;
    flex-direction: column;
}

.calculator .buttons .controller{
    display: flex;
    flex-direction: column;
}

.controller button{
    height: 200px;
}

button{
    height: 100px;
    width: 100px;
}

.equal{
    height: 100px;
    width: 200px;
}

.footer {
  height: 100px;
  background-color: cadetblue;
}

/*
    Starter CSS below
*/

body {
  height: inherit;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
